head {
    border: 1px solid #999;
}
aside {
    border-style: groove;
    border-color: #808080;
    background-color: #B0B0B0;
    padding: 10px;
    width: 250px;
    float: right;
}
.div {
    border: 1px solid #999
}
body {
    font-family: Arial, Verdana, sans-serif, Georgia, Times, serif;
    font-size: 14pt;
    font-weight: normal;
    background-color: #C7C7C7;
    color: #333;
    text-align: justify; 
    margin-left: 20px; 
    margin-right: 20px; 
    border: 5px solid #999; 
    padding-left: 20px; 
    padding-bottom: 20px; 
}
article {
    border: 1px solid #999;
    margin-right: 240px;
    display: block;
    float: right;
}
footer {
    border: 1px solid #999;
}
h1 { 
    font-size: 150%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #681c23;
}