head {
    border: 1px solid #999;
}
.aside {
    border-style: groove;
    border-color: #808080;
    background-color: #B0B0B0;
    padding: 10px;
    width: 250px;
    float: right;
    overflow: hidden;
}
.menu_site {
    border: 5px solid #999; 
    overflow: hidden;
}
body {
    font-family: Arial, Verdana, sans-serif, Georgia, Times, serif;
    font-size: 14pt;
    font-weight: normal;
    background-color: #C7C7C7;
    color: #333;
    text-align: justify; 
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px; 
}
.Main {
    border: 5px solid #999; 
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px; 
    overflow: hidden;
}
.article {
    border: 3px groove #999;
    background-color: #B0B0B0;
    display: block;
    padding: 10px;
    width: 250px;
    float: right;
    overflow: hidden;
}
.footer {
    text-align: center;
    border: 5px solid #999; 
    overflow: hidden;
}
h1 { 
    font-size: 150%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #681c23;
}