head {
    width: 100%;
}
.header {
    border: 5px solid #999; 
    background-color: #C7C7C7;
    padding: 10px;
    overflow: hidden;
}
.nav {
    float: left;
}
.logo_and_name {
    float: center;
}
.login-pass {
    float: right;
}
.aside {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
    overflow: hidden;
}
.sidebar {
    border-style: groove;
    border-color: #808080;
    background-color: #B0B0B0;
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
}
.article {
    border: 3px groove #999;
    background-color: #B0B0B0;
    padding: 10px;
    width: 250px;
}
body {
    background-image: url(image/boomcolor.png);
    background-size: 100%;
    background-color: #C7C7C7;
    font-family: Arial, Verdana, sans-serif, Georgia, Times, serif;
    font-size: 14pt;
    font-weight: normal;
    color: #333;
    text-align: justify; 
    margin: 10px;
    padding: 10px;
}
.main {
    border: 5px solid #999; 
    background-color: #C7C7C7;
    padding-top: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    overflow: hidden;
}
.some_textbox {
    background-color: #dadada;
}
.footer {
    border: 5px solid #999; 
    background-color: #C7C7C7;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
}
h1 { 
    font-size: 150%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #681c23;
}