body { 
    background: #C7C7C7 url(../images/pictures/stars-sparkle.gif) no-repeat center top fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    font-family: Arial, Verdana, sans-serif, Georgia, Times, serif;
    font-size: 14pt;
    font-weight: normal;
    text-shadow: #464646 1px -1px 0px;
    color: #333333;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header auth_panel"
    "main main main aside"
    "footer footer footer aside";
}  
header { 
    grid-area: header; 
    overflow: hidden; 
}
aside { 
    grid-area: aside; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px auto;
    float: right;
    overflow: hidden;
}
.logo {
    display: inline-block !important;
    padding: 10px;
    width: auto;
    height: auto;
}
nav {
    font-size: 110%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #681c23;
    display: inline-block !important;
    padding: 10px;
    width: auto;
    height: auto;
}
.logo-and-nav {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    height: auto;
    /* overflow: hidden; */
    display: inline-block !important;
    /* margin-right: 10px; */
}
main {
    grid-area: main;
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #C7C7C7d7;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    overflow: hidden;
}
.auth_panel {
    grid-area: auth_panel;
    width: 200px auto;
    height: auto;
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    padding: 10px;
}
.sidebar {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
    width: 200px auto;
    height: auto;
    margin-bottom: 10px;
}
article {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
    width: 200px auto;
    margin-right: auto;
}
footer {
    grid-area: footer;
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    overflow: hidden;
}
h1 {
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-shadow: #3b1014 2px -2px 1px;
    color: #681c23;
}