@font-face {
    font-family: 'PERSONAL_FONT';
    src: url("data/fonts/cyrillic_pixel-7.ttf");
}
body {
    /* background: black url(data/images/pictures/background/outerspace-72.gif) no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}
div.index_outside {
    padding-top: 40px;
}
div.index_inner {
    background-color: rgba(255, 255, 255, 0.950);
    max-width: 40%;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    padding-bottom: 30px;
    border: 6px dashed black;
    border-radius: 100px;
    text-align: center;
    pointer-events: none;
    user-select: none;
}
div.index_exception {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    margin-top: 15px;
    pointer-events: all;
    margin-top: 10px;
}
img.index_img {
    height: auto;
    width: 70%;
    /* еще больше контроля с max-width */
    max-width: auto;
}
p.index_p {
    margin: 5px;
}
div.you_are_still_want_look {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 1.5vw;
}
a /* Общий формат ссылок */ {
    text-decoration: none;
    /* box-shadow: -1px 2px #606060; */
    border-radius: 10px;
    border-bottom: 2px solid #606060;
    border-left: 2px solid #606060;
    background-color: #70707044;
    padding: 8px;
    box-shadow:
    4px -4px #505050,
    3px -3px #505050,
    2px -2px #505050,
    1px -1px #505050;
    -webkit-transform: translateX(-0px);
    transform: translateX(-0px);
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
    transition: all 0.3s ease;
}
a:link /* Непосещенная */ {
    color: inherit; 
}
a:visited /* Посещенная */ {
    color: inherit;
}
a:hover /*При наведении. Не нажатая.*/ {
    color: green; 
    /* text-shadow: #003694 1px -1px 0px; */
    border-radius: 10px;
    border-bottom: 2px solid #606060;
    border-left: 2px solid #606060;
    box-shadow:
    2px -2px #505050,
    1px -1px #505050;
    -webkit-transform: translateX(2px) translateY(-2px);
    transform: translateX(2px) translateY(-2px);
}
a:active /* При наведении. Нажатая */ {
    /* color: #81adff; 
    text-shadow: #2f4d86 1px -1px 0px; */
    box-shadow:
    2px -2px #505050,
    1px -1px #505050;
    -webkit-transform: translateX(2px) translateY(-2px);
    transform: translateX(2px) translateY(-2px);
}