head {
    float: none;
}
header {
    float: none;
}
.logo-and-nav {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    height: auto;
    /* overflow: hidden; */
    display: inline-block !important;
    /* margin-right: 10px; */
}
.logo {
    display: inline-block;
    padding: 10px;
    width: auto;
    height: auto;
}
nav {
    font-size: 110%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #681c23;
    display: inline-block;
    padding: 10px;
    width: auto;
    height: auto;

}
.auth_panel {
    width: 200px auto;
    height: auto;
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    padding: 10px;
    display: inline-block !important;
}
aside {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px auto;
    float: right;
    overflow: hidden;
}
.sidebar {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
    width: 200px auto;
    height: auto;
    margin-bottom: 10px;
}
article {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin-right: auto;
}
body {
    background: #C7C7C7 url(../images/pictures/stars-sparkle.gif) no-repeat center top fixed;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    font-family: Arial, Verdana, sans-serif, Georgia, Times, serif;
    font-size: 14pt;
    font-weight: normal;
    text-shadow: #464646 1px -1px 0px;
    color: #333333;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
}
main {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #C7C7C7d7;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    overflow: hidden;
}
.some_textbox {
    background-color: #dadada;
}
footer {
    border: 5px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    overflow: hidden;
}
h1 {
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-shadow: #3b1014 2px -2px 1px;
    color: #681c23;
}