/* 
Основной CSS практического сайта.

Структура данного файла выглядит так:

[Надстройки над всей структурой] > 
[БЛОКИ > Внутренние строчные и блочные элементы... и т.д.] > 
[Оформление визуальных элементов, не относящиеся к кастомизации блоков.]

Основное положение сайтя:
<header>

*/

/* Начало технической части сайта. */
/* ЗДЕСЬ НИЧЕГО НЕТ. ЗАЧЕМ ЗАДАВАТЬ ФОРМАТ ТОМУ, ЧЕГО НЕТ? Are U Geinius? */
html {
    /* Код прокрутки на будущее. Сейчас работает только на mazilla firefox */
    scrollbar-width: thin;          /* "auto" или "thin"  */
    scrollbar-color: #505050 transparent;   /* плашка скролла и дорожка */ 
}

head {
    width: auto;
}
/* КОНЕЦ ТЕХНИЧЕСКОЙ ЧАСТИ САЙТА. */

/* НАЧАЛО ОСНОВНОГО ТЕЛА САЙТА. */
body {
    background: #C7C7C7 url(../images/pictures/stars-sparkle.gif) no-repeat center top fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: normal;
    text-shadow: #464646 1px -1px 0px;
    color: #333333;
    text-align: justify;
    margin: 10px auto;
    padding: 10px auto;
    overflow-y: scroll;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header aside"
    "main aside"
    "footer footer";
    overflow: overlay;
}
    /* Это актуальный код прокрутки для всех браузеров, кроме IE и Firefox. */
    body::-webkit-scrollbar {
        width: 10px; /* ширина scrollbar */
    }
    body::-webkit-scrollbar-track {
        background: transparent; /* цвет дорожки */
    }
    body::-webkit-scrollbar-thumb {
        background-color: #505050; /* цвет плашки */
        border-radius: 20px; /* закругления плашки */
    }
/* КОНЕЦ ОСНОВНОГО ТЕЛА САЙТА. */

/* НАЧАЛО ВЕРХНЕЙ ЧАСТИ САЙТА. */
header {
    grid-area: header;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
ul.ul_nav {
    display: flex;
    flex-direction: row;
    height: 90%;;
    list-style: none;
    margin: 0;
    padding: 4px;
}
ul.ul_nav li {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding: 3px;
    margin-right: 5px;
}
li.li_logo {
    padding: 10px;
}
li.li_logo img {
    height: 100%;
}
li.li_logo a {
    border: none;
    box-shadow: none;
    background: none;
    width: 100%;
    height: 80%;
}

li.li_logo a:hover {
    background-color: rgba(0, 0, 0, 0.185);
}
nav {
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    overflow: hidden;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #681c23;
    padding: 1px;
}

/* КОНЕЦ ВЕРХНЕЙ ЧАСТИ САЙТА. */

/* НАЧАЛО ОСНОВНОГО БЛОКА САЙТА. */
body > main {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
main {
    grid-area: main;
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #C7C7C7d7;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* main:hover {
    box-shadow: inset 0 0 0 23px #53ea93;
} */
.some_textbox {
    background-color: #dadada;
    min-width: 99%;
    max-width: 99%;
    height: 30%;
    font-size: 14px;
}
/* КОНЕЦ ОСНОВНОГО БЛОКА САЙТА. */

/* НАЧАЛО БОКОВОЙ ЧАСТИ САЙТА. */
aside {
    grid-area: aside;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 100%;
    height: 100%;
}
.auth_panel {
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.sidebar {
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
article {
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    padding: 10px;
    text-align: center;
}
/* КОНЕЦ БОКОВОЙ ЧАСТИ САЙТА */

/* НАЧАЛО ПОДВАЛЬНОГО БЛОКА САЙТА. */
footer {
    grid-area: footer;
    border-top: 6px solid #505050;
    border-left: 3px solid #707070;
    border-right: 6px solid #505050;
    border-bottom: 3px solid #707070;
    border-radius: 10px;
    background-color: #c7c7c7d7;
    text-align: center;
    /* width: 100%; */
    overflow: hidden;
}
/* КОНЕЦ ПОДВАЛЬНОГО БЛОКА САЙТА. */

/* НАЧАЛО СТИЛЕЙ ОТДЕЛЬНЫХ ЭЛЕМЕНТОВ. */
@font-face {
    font-family: 'PERSONAL_FONT';
    src: url("../fonts/cyrillic_pixel-7.ttf");
}
h1 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #3b1014 1px -1px 0px;
    color: #681c23;
    margin: 0;
    padding: 0;
}
input {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a /* Общий формат ссылок */ {
    text-decoration: none;
    box-shadow: -1px 2px #606060;
    border-radius: 10px;
    border-top: 4px solid #505050;
    border-right: 4px solid #505050;
    background-color: #70707044;
    padding: 8px;
}
a:link /* Непосещенная */ {
    color: inherit; 
}
a:visited /* Посещенная */ {
    color: inherit;
}
a:hover /* При наведении. Не нажатая */ {
    color: #005eff; 
    text-shadow: #003694 1px -1px 0px;
    box-shadow: -1px 2px #606060;
    border-radius: 10px;
    border-top: 4px solid #505050;
    border-right: 4px solid #505050;
}
a:active /* При наведении. Нажатая */ {
    color: #81adff; 
    text-shadow: #2f4d86 1px -1px 0px;
}
/* КОНЕЦ СТИЛЕЙ ОТДЕЛЬНЫХ ЭЛЕМЕНТОВ. */