
/* CSS для дипломника */

@font-face {
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-family: "Open Sans";
    font-style: Regular;
    font-weight: 400;
  }
  
  @font-face {
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-family: "Open Sans";
    font-style: Bold;
    font-weight: 700;
  }
  
  body {
    margin: 0;
  }
  
  .header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 450px;
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #666;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }
  
  .header::before {
    content: "";
    display: flex;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
  }

  .header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-title {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    line-height: 75px;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    padding: 0 10%;
   }
  
  .header-container, .footer-container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo-img {
    position: relative;
    width: 181px;
    height: 41px;
    z-index: 2;
   }
  
  .menu {
    position: relative;
    z-index: 1;
  }
  
  .menu-list {
    list-style-type: none;
    display: flex;
  }
  
  .menu-list-item {
    padding: 0 35px 0 35px;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
    text-align: center;
  }
  
  .menu-list-item:hover {
    text-decoration: underline;
    color: #ffffff;
  }
  
  .menu-link {
   text-decoration: none;
   color: #ffffff;
  }
  
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
   }
  
  .articles {
    margin-top: 64px;
  }
  
  .article {
    display: flex;
    margin-top: 60px;
    gap: 30px;
  }
  
  .article:first-child {
    margin-top: 0;
  }
  
  .article-item-img {
    width: 381px;
    height: 294px;
  }
  
  .article-text-content {
    max-width: 365px;
  }
  
  .tags-list {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 20px;
    list-style-type: none;
    margin: 0;
  }
  
  .article-tag {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-style: Bold;
    font-weight: 700;
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
  }
  
  .article-tag:hover {
    text-decoration: underline;
  }
  
  .article-title {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    font-style: Bold;
    font-weight: 700;
    font-size: 20px;
    color: #0f0d0e;
    margin-top: 15px;
  }
  
  .article-title:hover {
    color: #b59f5b;
  }
  
  .article-date-author {
    display: flex;
    gap: 15px;
    margin-top: 36px;
  }
  
  .article-date {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
  }
  
  .article-author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
  }
  
  p {
    font-size: 15px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 271px;  
  }
  
  .recent-posts {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  
  .headline {
    text-transform: uppercase;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
    margin-top: 64px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .article-preview-title {
    margin: 0;
  }
  
  .article-preview {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
  }
  
  .article-preview:hover {
    color: #b59f5b; 
  }
  
  .recent-posts-items div {
    display: flex;
    flex-direction: column;
    
  }
  
  .recent-posts-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
  }
  
  .sidebar-thumb {
    width: 70px;
    height: 70px;
    background-color: #f4f7f6;
  }
  
  .recent-posts-items time {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
  }
  
  .headline::after {
    content: "";
    width: 66px;
    border: 0 0 3px;
    border-style: solid;
    opacity: 0.4;
    color: #b59f5b;
    margin: 14px 0 0;
   }
  
  .recent-posts-header {
   display: flex;
   align-items: center;
   justify-content: center; 
   flex-direction: column;
  }
  
  .services {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .search-field {
    display: flex;
  }
  
  .search-text {
    width: 271px;
    height: 48px;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid white;
    position: relative;
    opacity: 0.5;
    background-color: #f4f7f6;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
  }
  
  .search-text:focus {
    outline: none;
    border: 1px solid #b59f5b;
    background-color: #f4f7f6;
  }
  
  .search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
  }
  
  .search-button:hover {
    background-color: #323232;
  }
  
  .subscription-header {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .email-field {
    display: flex;
    box-sizing: border-box;
    margin-top: 23px;
    width: 271px;
    height: 48px;
    padding-left: 20px;
    opacity: 0.5;
    background-color: #f4f7f6;
    border: 1px solid white;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: Regular;
  }
  
  .email-field:focus {
    outline: none;
    border: 1px #b59f5b solid;
    background-color: #f4f7f6;
    
  }
  
  .subscription-button {
    width: 271px;
    height: 48px;
    margin-top: 17px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
  }
  
  .subscription-button:hover {
    background-color: #323232;
  }
  
  .button-text {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
  }
  
  .tags {
    display: flex;
    flex-direction: column;
  }
  
  .tags-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .tag-box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 5px;
  }
  
  .tag-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: Regular;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 15px 0 15px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
    list-style-type: none;
  }
  
  .tag-title:hover {
    background-color: rgba(244,243,241,0);
    border: 3px solid #b59f5b;
  }
  
  .tag-link {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .categories {
    display: flex;
    flex-direction: column;
  }
  
  .categories-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  
  .categories-list {
    display: flex;
    flex-direction: column;
  }
  
  .categories-list-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  .categories-list-item {
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
    text-decoration: none;
  }
  
  .categories-list-item:hover {
    color: #b59f5b;
  }
  
  .upper-index {
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .categories-list-item:after {
    content: "";
    display: flex;
    flex-direction: column;
    width: 271px;
    border: 0 0 1px;
    border-style: solid;
    color: #eeeeee;
    margin: 13px 0;
  }
  
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 83px;
    margin: 65px auto 74px;
    border: none;
    background-color: #f4f7f6;
  }
  
  .socials_icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    padding: 0;
  }
  
  .socials-link-dribble {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .socials-link-pinterest {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .socials-link-tumblr {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
    font-style: Bold;
  }
